<ng-select [items]="countries"
            bindLabel="name"
            bindValue="id"
            placeholder="Select country"
            [(ngModel)]="selectedCountryId"
            (change)="getStates(selectedCountryId)"
            >
</ng-select>

<ng-select [items]="selectedStates"
            bindLabel="name"
            bindValue="id"
            placeholder="Select state"
            [(ngModel)]="selectedStateId"
            >
</ng-select>


{{blogs | json}}


