<table class="table table-condensed">
  <tbody>
    <tr>
      <td><b>Firstname</b></td>
      <td>{{userDetails[0].firstname}}</td>
    </tr>
    <tr>
      <td><b>Lastname</b></td>
      <td>{{userDetails[0].lastname}}</td>
    </tr>
  </tbody>
</table>
