<form class="form-horizontal" [formGroup]="regForm" (ngSubmit)="saveRegForm($event)" #rForm="ngForm">
  <div class="form-group">
    <label class="control-label col-sm-2" for="firstname">Firstname:</label>
    <div class="col-sm-10">
      <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="Enter firstname">

      <div *ngIf="(firstname.touched && firstname.invalid) || (rForm.submitted && firstname.invalid)" class="text-danger">
        <div *ngIf="firstname.errors.required">Firstname is required</div>
        <div *ngIf="firstname.errors.minlength">Firstname must be at least 2 characters long.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="lastname">Lastname:</label>
    <div class="col-sm-10">
      <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="Enter lastname">

      <div *ngIf="(lastname.touched && lastname.invalid) || (rForm.submitted && lastname.invalid)" class="text-danger">
        <div *ngIf="lastname.errors.required">Lastname is required</div>
        <div *ngIf="lastname.errors.minlength">Lastname must be at least 2 characters long.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">

      <div *ngIf="(email.touched && email.invalid) || (rForm.submitted && email.invalid)" class="text-danger">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email is invalid format</div>
      </div>
    </div>
  </div>
  <div class="form-group">
      <label class="control-label col-sm-2" for="mobile">Mobile:</label>
      <div class="col-sm-10">
        <input type="text" formControlName="mobile" class="form-control" id="mobile" placeholder="Enter mobile">

        <div *ngIf="(mobile.touched && mobile.invalid) || (rForm.submitted && mobile.invalid)" class="text-danger">
          <div *ngIf="mobile.errors.required">Mobile number is required</div>
          <div *ngIf="mobile.errors.pattern">Mobile number should be a valid 10 digit number</div>
        </div>
      </div>
    </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="password">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password">
      
      <div *ngIf="(password.touched && password.invalid) || (rForm.submitted && password.invalid)" class="text-danger">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters long.</div>
        <div *ngIf="password.errors.maxlength">Password must not be exceed 25 characters.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="confirmPassword">Confirm Password:</label>
    <div class="col-sm-10"> 
      <input type="password" formControlName="confirmPassword" class="form-control" id="confirm-password" placeholder="Enter confirm password">

      <div *ngIf="(confirmPassword.touched && confirmPassword.invalid) || (rForm.submitted && confirmPassword.invalid)" class="text-danger">
        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
      </div>
      <div *ngIf="doesMatch === false" class="text-danger">
        Password mismatch
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="dob">DOB:</label>
    <div class="col-sm-10"> 
      <input type="date" formControlName="dob" class="form-control" id="dob" placeholder="Enter dob">

      <div *ngIf="(dob.touched && password.invalid) || (rForm.submitted && dob.invalid)" class="text-danger">
        <div *ngIf="dob.errors.required">DOB is required</div>
        <!-- <div *ngIf="dob.errors.pattern">DOB format must be dd-mm-yyyy.</div>         -->
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="gender">Gender:</label>
    <div class="col-sm-10"> 
      <input type="radio" formControlName="gender" id="male" value="male">Male
      <input type="radio" formControlName="gender" id="female" value="female">Female

      <div *ngIf="(gender.touched && password.invalid) || (rForm.submitted && gender.invalid)" class="text-danger">
        <div *ngIf="gender.errors.required">Gender is required</div>             
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="country">Country:</label>
    <div class="col-sm-10"> 
      <select formControlName="country" class="form-control" id="country" (change)="getStates($event)">
        <option value="">Select Country</option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name | uppercase}}</option>
      </select>
      <div *ngIf="(country.touched && country.invalid) || (rForm.submitted && country.invalid)" class="text-danger">
        <div *ngIf="country.errors.required">Country is required</div>             
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="state">State:</label>
    <div class="col-sm-10"> 
      <select formControlName="state" class="form-control" id="state">
        <option value="">Select State</option>
        <option *ngFor="let state of getStateList" [value]="state.id">{{state.name | uppercase}}</option>
      </select>
      <div *ngIf="((state.touched && state.invalid) || (rForm.submitted && state.invalid)) && getStateList" class="text-danger">
        <div *ngIf="state.errors.required">State is required</div>             
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">         
      <input type="checkbox" formControlName="terms" id="terms">
      <label for="terms">Terms & Condition:</label>
      <div *ngIf="(terms.touched && terms.invalid) || (rForm.submitted && terms.invalid)" class="text-danger">
        <div *ngIf="terms.errors.required">Terms is required</div>             
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </div>
</form>
<a routerLink="/">Already registered?</a>