<form [formGroup]="loginForm" #lForm="ngForm" (ngSubmit)="authLogin($event)" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email"  formControlName="email" class="form-control" id="email" placeholder="Enter email">
      <div *ngIf="(email.touched && email.invalid) || (lForm.submitted && email.invalid)">
        <div *ngIf="email.error.required">Email is required</div>
        <div *ngIf="email.error.email">Email is not valid</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" formControlName="password" class="form-control" id="pwd" placeholder="Enter password">
      <div *ngIf="(password.touched && password.invalid) || (lForm.submitted && password.invalid)">
        <div *ngIf="password.error.required">Password is required</div>
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <div class="text-danger" *ngIf="errorMsg">{{errorMsg}}</div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </div>
</form>
<a routerLink="/registration">Register?</a>