<h2>Registered Users</h2>
<input type="serach" [(ngModel)]="searchText" placeholder="firstname, lastname, email"/>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of userList | searchUser: searchText">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
      </tr>      
    </tbody>
  </table>